# Server Configuration
PORT=
APP_ENV=
ALLOWED_ORIGIN_PATTERNS=

# Database Configuration (PostgreSQL)
## Developement
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=

## Production
SUPABASE_URL=

# Authentication (JWT)
JWT_SECRET=
JWT_EXPIRATION=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# ML dan AI 
ML_SERVICE_URL=

GEMINI_API_KEY=
GEMINI_MODEL_ID=
# External API
WILAYAH_API_BASE_URL=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=